# Server
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:8081

# Supabase local
SUPABASE_URL=http://127.0.0.1:54321
# Equivalente ao publishable
SUPABASE_ANON_KEY=your_supabase_anon_key

# Equivalente ao Supabase secret key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_JWT_SECRET=your_supabase_jwt_secret

# Database (Supabase local Postgres)
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
